/* index.css, підключається в index.tsx */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* або той стек, який вирішите */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  max-width: 100%;
  height: auto;
}
